<div id="form">
  <h2>Login</h2>
  <br>
 
  <form action="/login" method="POST">
 
    <label> Email
      <input type="email" name="email" placeholder="anyName@apples.com" />
    </label>
 
    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>
  <br>
  <br>
    <button class="gamefaq-img-btn" type="submit">Login <img id="myDeleteButton" src="../images/login.png" alt=""> </button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>