
<body class="signup-page">
  
<div id="form">
  <h2>Sign Up</h2>
  <br>
  <form action="/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <label> Email   {{!--  type is orignally email --}}
      <input type="text" name="email" placeholder="rockstar@ironhack.com" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 <br>
 <br>
    <button class="gamefaq-img-btn" type="submit">Create account <img id="myLogoutButton" src="../images/createacc.png" alt=""></button>
 

      {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  </form>

</div>

</body>

  