<h2>New Thread</h2>
<br>

<form action="/threads/create" method="post">

    <label for="threadTitleInput">
       <div>Title:</div> 
        <input id="threadTitleInput"  name="title">
    </label>
    <div>
    <label>
      <div>Comment:</div>  
        <input type="text" name="text">
    </label>
</div>

    <br>
    <button class="gamefaq-img-btn">Post <img id="myLogoutButton" src="../images/post.png" alt=""> </button>
    
</form>

